/***************************
****************************
        Basic styles
****************************
***************************/
body {
	padding-top: 70px;
	font-family: 'Prompt', sans-serif;
	background-color: #D1D1D1;
}
/***************************
        Navbar styles
***************************/
.logoTitle {
	font-family: 'Fredoka One', cursive;
	font-size: 2em;
}

.logo {
	width: 50px;
	height: auto;
}

span {
	font-family: 'Prompt', sans-serif;
	font-style: italic;
	font-size: 0.5em;
}
/***************************
 Trailer Video Modal styles
***************************/

.movie-image {
	opacity: 0.2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.modalImage {
	position: relative;
}

.movie-title {
	color: #000;
}

.movie-overview {
	color: #000;
}

.movie-poster {
	width: 150px;
	float: left;
	margin: 10px;
}

.close {
	position: absolute;
	top: -12px;
	right: -12px;
	z-index: 9001;
}

#trailer-video {
	width: 100%;
	height: 100%;
	text-align: center;
}

.movie-tile:hover {
	cursor: pointer;
}

.scale-media {
	padding-bottom: 56.25%;
	position: relative;
}

.scale-media iframe {
	border: none;
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: white;
}

/***************************
        Cards styles
***************************/
.title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	color: #fff;
	text-shadow: 2px 2px 0 #000;
}

.watchTrailer {
	height: 50px;
	overflow: hidden;
}

.btn-primary {
	background-color: #240115;
	border-color: #F7F3E3;
	float: right;
}

.btn-primary:hover {
	background-color: #0B5563;
}

.bg-primary {
	background-color: #0B5563!important;
}

.card img {
	border: 2px solid #F7F3E3;
	border-radius: 5px;
}
/***************************
       Footer styles
***************************/
footer {
    background-color: #0B5563;
    font-size: 0.7em;
    text-align: center;
    color: white;
}
footer .content {
    padding-top: 1em;
    padding-bottom: 1em;
}
footer a {
    color: #FFA630;
}